<footer class="bg-dark text-center" style=" position: absolute;
bottom:0;
width:100%;
height:60px; 
padding: 20px;">
    <p class="text-light">Copyright &copy; <script>document.write(new Date().getFullYear()); </script>  <a href="/">Student Enrollment</a></p>
</footer>